td {
    border: solid 2pt;
    padding: 15pt;
}

table {
    display: flex;
    margin-top: 20pt;
    flex-direction: column;
}

.tabela-container {
    display: flex;
}

.tabelaAcervo, .tabelaEditora {
    border-collapse: collapse;
    width: 100%;
    justify-content: center;
    align-items: center;
}

th, td {
    border: 1pt solid black;
    padding: 8pt;
    width: 100pt;
    height: 45pt;
    text-align: left;
}

th {
    background-color: rgb(185, 184, 184);
}
