* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    height: 80pt;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #673AB7; /* Deep Purple */
    position: relative;
    border-radius: 6pt;
    text-align: center;
    margin-bottom: 40pt;
}

h2 {
    color: white;
}

.result {
    color: black;
    margin-top: 30pt;
}