* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    height: 80pt;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #673AB7;
    position: relative;
    border-radius: 6pt;
    text-align: center;
    margin-bottom: 40pt;
}


h1 {
    margin: 15pt;
    color: #FFF;
    font-size: 18pt; 
}

h2 {
    color: #FFF; 
    margin-top: 10pt;
}

input {
    margin: 11pt;
    border-radius: 8pt;
    padding: 10pt;
    border: 1px solid #673AB7;
}

a {
    color: #333;
    text-decoration: none;
    padding: 11pt;
    background-color: #FFF;
    border-radius: 8pt;
}

#labelBuscar {
    color: #FFF;
    font-weight: 600;
    font-size: 13pt;
}

.botaoBuscarLivro {
    padding: 12pt;
    cursor: pointer;
    border-radius: 8pt;
    background-color: #320958;
    color: white;
    font-weight: 600;
}

.botaoBuscarLivro:hover {
    background-color: #1A032B;
}

#principal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

#botaoEnviar {
    cursor: pointer;
    font-size: 14pt;
    font-weight: 600;
    color: #FFF;
    background-color: #320958;
}

#botaoEnviar:hover {
    background-color: #1A032B;
}

#divCadastroLivro {
    height: 650pt;
    width: 350pt;
    border-radius: 15pt;
    background-color: #673AB7;
}

#labelBuscarLivro {
    font-size: 13pt;
    font-weight: 600;
    color: #FFF;
}

#formCadastro {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.labelCadastroLivro {
    color: #FFF; 
    font-size: 15pt;
    font-weight: 600;
    padding: 1pt;
    border-radius: 3pt;
    width: 200pt;
}

.divInputCadastro {
    padding: 30pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputCadastroLivro {
    width: 200pt;
    height: 30pt;
    box-shadow: 2pt 2pt 2pt #1A032B;
}

.buscarLivro {
    height: 100%;
    width: 200pt;
}
